/* styles.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 화면 높이 */
}

header {
  min-height: 60px;
  background-color: #E6E6FA; /* 연한 보라색 */
  display: flex;
  padding: 0 20px;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 요소들을 양 끝으로 정렬 */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.login_menu_after{
  display: flex;
  align-items: center;
  gap: 10px;
}

main {
  flex: 1;
  display: flex;
  gap: 10px;
  height: 80dvh;
  margin: 5px;
  overflow-y: auto;
}

footer {
  height: 10vh;
}
i {
 font-size: x-large;
 align-items: center;
}

#pc_logout_icon {
  color: #6A5ACD;
}

button {
 font-size: large;
 cursor: pointer;
 padding: 0 5px;
}

input {
  font-size: large;
}

/* 섹션 스타일 */
.section {
  flex: 1;
  min-width: 0; /* flex-basis 계산을 위해 필요 */
  padding: 10px;
  border-left: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
}

.section:first-child {
  border-left: none;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.data_table {
  width: 100%;
  border-collapse: collapse;
}

.data_table th,
.data_table td {
  padding: 5px;
  text-align: center;
}

.data_table th {
  font-weight: bold;
  font-size: large;
}

.data_table tbody tr {
  font-size: large; 
}

.data_table input {
  font-size: large;
  width: 100%;
}

.detail_button {
  width: 90%; /* 버튼이 너무 작아지지 않도록 조정 */
}

.delete_button {
  width: 90%;
  cursor: pointer;
  border: none;
  background: none;
  font-size: large;
}

/* 카테고리 구분선 스타일 */
.category_row {
  background-color: lavender; /* 파스텔톤 배경 */
  height: 30px; /* 고정 높이 */
}

.category_label {
  text-align: left !important; /* 왼쪽 정렬 */
  font-weight: bold; /* 볼드 해제 */
  font-size: medium; /* 글자 크기 중간 */
  padding-left: 10px; /* 왼쪽 여백 */
}


/* 합계 표시 영역 */
.total_container {
  bottom: 0; /* 하단에 고정 */
  background-color: #f1f1f1; /* 배경색 추가 */
  padding: 10px; /* 여백 */
  text-align: right; /* 오른쪽 정렬 */
  border-top: 1px solid #dcdcdc; /* 상단 경계선 */
  font-size: large;
  font-weight: bold;
}

/* 모달 배경 */
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
  justify-content: center;
  align-items: center;
}

/* 모달 내용 */
.modal_content {
  padding: 10px;
  position: relative;
  background-color: #fff;
  width: 50%;
  height: 80%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal_content_small {
  padding: 10px;
  position: relative;
  background-color: #fff;
  width: 30%;
  height: 60%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal_content_x_small {
  padding: 10px;
  position: relative;
  background-color: #fff;
  width: 10%;
  height: 10%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
}


/* 모달 닫기 버튼 */
.close_button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
}

.close_button:hover {
  color: #000;
}

/* 모달 내용 내부 프레임 */
.modal_frame {
  width: 100%;
  height: 100%;
  border: none;
}

/* 로그인, 회원가입, 저장불러오기 모달 스타일 */
.modal_button{
  width: 100%;
  padding: 10px;
  background-color: #4B0082;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
}
.modal_button:hover{
  background-color: #6A5ACD;
}

.modal_input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: large;
}



/* 반응형 스타일 */
@media (max-width: 768px) {
    /* 기존 PC 헤더 숨김 */
    #header {
      display: flex; /* 모바일에서만 활성화 */
      justify-content: space-between;
      align-items: center;  }

  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
      font-size: 24px;
      font-weight: bold;
  }

  .mobile_hidden {
    display: none;
  }

  main {
    flex-direction: column; /* 모바일에서는 1개씩 배치 */
    font-size: medium;
  }
  button {
    font-size: large;
  }
    #logout_button {
    font-size: small;
    padding: 1px;
  }
  .section {
    width: 100%; /* 한 줄에 하나씩 배치 */
    border-left: none;
    border-top: 1px solid #dcdcdc;
  }
  .section:first-child {
    border-top: none;
  }
  .modal_content{
    position: fixed;
    top: 5%;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
  }
  .modal_content_small{
    position: fixed;
    top: 5%;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
  }
  .modal_content_x_small {
    position: fixed;
    top: 5%;
    padding: 10px;
    background-color: #fff;
    width: 30%;
    height: 5%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
  }
  .section {
    width: 100%;
    border-left: none;
  }
  .data_table th,
  .data_table td {
    font-size: medium; /* 폰트 크기 조정 */
  }
  .data_table input {
    font-size: medium;
  }
  .detail_button,
  .delete_button {
    width: 100%;
    padding: 0;
    font-size: medium;
  }
}
